.skill-item,.bookings-item {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 50px 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.skill-item {
  position: relative;
}

.skill-item a {
  color:grey;
  &:hover{
    color:#035ac1;
  }
}

.skill-item form {
  display: flex;
    align-items: flex-end;
}

.skill-item form .form-group {
  margin-bottom: 0;
}

.book-skill-btn {
  padding: 5px 10px;
  margin: 0px 5px;

}

.skill-title {
  margin-right: 30px;
}

.user_info {
  margin-top: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow: hidden;
}
.bookings{
  margin: 15px 0;
  padding: 0;
}
.title-bookings {
  margin-top: 20px;
}

.icon-delete-skill {
  position: absolute;
    right: 10px;
    top: 10px;
}
.profile-img{
  padding: 150px 0px;
  background-position: center;
  background-size: cover;
}
