.skill-item,.bookings-item {
  display: grid;
  grid-template-columns: 3fr 9fr;
  align-items: center;
  margin-top: 20px;
  padding: 50px 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.skill-item {
  position: relative;
}

.skill-item a {
  color:grey;
  &:hover{
    color:#035ac1;
  }
}

.skill-item form {
  display: flex;
    align-items: flex-end;
}

.skill-item form .form-group {
  margin-bottom: 0;
}

.book-skill-btn {
  padding: 5px 10px;
  margin: 0px 5px;

}

.skill-title {
  margin-right: 30px;
  color: #DB673B;
    font-weight: bold;
}

.user_info {
  margin-top: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow: hidden;
}
.bookings{
  margin: 15px 0;
  padding: 0;
}
.title-bookings {
  margin-top: 20px;
}

.icon-delete-skill {
  position: absolute;
    right: 10px;
    top: 10px;
}
.profile-img{
  padding: 150px 0px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.add-skill-btn{
  position: absolute;
    text-align: center;
    width: 100%;
    bottom: -10px;
}
.add-skill-btn a{
  padding: 7px 11px;
    background: white;
    border-radius: 25px;
    border: 2px solid #E57D4F;
}
.bottom-user-info{
  border: 1px solid #E57D4F;
  border-radius: 0 0 10px 10px;
  padding-top: 15px;
}

.bottom-user-review {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.card-rating-code {
  color: #E57D4F;
  margin-left: 5px;
}

.bottom-user-review p {
  margin-left: 5px;
}

.add-skill-link{
  text-decoration: none;
  color:grey;
  &:hover{
    text-decoration: none;
    color: #508BDE;
  }
}
.edit-user{
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  border: 1px solid #E57D4F;
}
.edit-user i{
  color:grey;
}
.edit-user:hover i{
    color: #508BDE;
}

.jdenticon-user{
      position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.booking-top-margin {
  margin-top: 66px
}
