// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

body {
  margin: 0;
  h1{
  color: black;
  }
}

#search{
  font-family: 'Nanum Gothic Coding', monospace;
}

// width of the search bar on the homepage
#mainSelect {
  width: 25%;
}

.homepage-call-out {
  font-size: 3em;
  text-align: center;
  margin: 20px 0px;
}
