// Specific CSS for your home-page
body {
  margin: 0;
  h1{
  color: white;
  }

}
.banner{
  color: #DB683B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:40vh;
  background-image: url("bg.jpg");
  background-size: cover;
}




.cardholder {
  margin-top:10px;
  display: flex;
}

.card{
  height: 40%;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}
