
<div class="container-fluid">

  <h1 class="mt-5 ml-5 pl-4">These people know <i class="fab fa-js"></i> <i class="fas fa-gem"></i> <i class="fab fa-html5"></i> <%# @skill %> :</h1>
  <div class="grid-map">

    <ul class="card-grid">
      <% @users.each do |user| %>
      <li>
        <%= link_to user_path(user) do %>
        <div class="card">
          <img src="https://picsum.photos/200" class="card-img-top" alt="user-img">
          <div class="card-body">
            <h3> <%= user.name %></h3>
            <p> <strong>Price per day:</strong>  € <%#= user.skill.price_per_day  %> </p>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>

    <div id="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d155959.8924297995!2d4.763878108967292!3d52.354582834316005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c63fb5949a7755%3A0x6600fd4cb7c0af8d!2sAmsterdam!5e0!3m2!1snl!2snl!4v1606230408630!5m2!1snl!2snl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>

  </div>

</div>
