  <div class="banner">
    <form id="mainSearch">
      <div class="form-group">
        <input type="text" class="form-control" id="search" placeholder="Enter skill">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>

<div class="container">
  <div class="cardholder">
    <div class="card-home">
      <img class="card-img-top" src="../assets/card1.jpg" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">Front-end</h3>
        <p class="card-text">Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
    <div class="card-home">
      <img class="card-img-top" src="../assets/card2.jpg" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">Back-end</h3>
        <p class="card-text">Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
    <div class="card-home"><img class="card-img-top" src="../assets/card3.jpg" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">Full-stack</h3>
        <p class="card-text">Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>
</div>
<form>
