<div class="container">

<h1 class="banner"> All skills </h1>

<ul class="card-grid">
<% @skills.each do |skill| %>
  <li> <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"> <%= link_to @user.name, skill_id_path %> </p>
  </div>
  <% end %>
</div> </li>
<% end %>
</ul>
</div>


