.card-grid {
  display: grid;
  grid-template-columns: 1fr;
}

li {
  list-style: none;
}

.grid-map {
  display: flex;
  justify-content: space-around;
   align-items: flex-start;
  margin-top: 20px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 10px;
 &:hover {
  box-shadow: 1px 1px 3px grey;
  transition:  box-shadow .2s ease-out;
  zoom: 1.005;
 }
}

.link-black {
  color: black;
}
