.grid-map {
  display: flex;
  justify-content: space-between;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
}

 .card-grid li {
    list-style: none;
  }

.card-skill-link {
  list-style: none;
  a {
    color: black;
    margin-left: 0px;
    height: 175px;
  }
}

.card-skill-link a:hover {
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
  color: black;
  border-radius: 10px;
  text-decoration: none;
  // transition: box-shadow .2s ease-out;
  // zoom: 1.005;

}

.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 10px;
  margin-bottom: 10px;
 &:hover {
  box-shadow: 1px 1px 3px grey;
  transition:  box-shadow .2s ease-out;
  // zoom: 1.005;
 }
}

.link-black {
  color: black;


  border-radius: 10px;
}

.card-img-right {
  border-radius: 10px 0px 0px 10px;
  object-fit: cover;
  height: 175px;
}

.container-fluid{
  padding-right: 0px;
}
