#content{
  padding-top: 75px;
  width: 75%;
  margin: 0 auto;

  form.simple_form {
    width: 80%;
    margin: 0 auto;
  }
}

input.btn {
  color: white;
  background-color: #DB683B;
}

#showContainer {
  padding-top: 75px;
}
